* {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: border-box;
}

.navbar {
    height: 4rem;
    background-color: rgb(255, 0, 0);
    color: white;
    display: flex;
    align-items: center;
}

.border {
    border: 3px solid transparent;
}

.border:hover {
    border: 2.5px solid white ;
    
}

.home-icon {
    display: flex;
    align-items: center; 
    font-size: 2.5rem;
    margin-left: 20px;
}

.nav-items {
    display: flex;
    margin-left: 35rem;

}

.nav-items p {
    display: inline;
    margin: 4rem;
    font-size: 1.5rem;
}

.content {
    height: 100rem;
    background-color: black;
    color: white;
    text-align: left;
    justify-content: flex;
}

.text {
    margin-left: 2rem;
    text-align: left;
    text-shadow: 2px solid rgb(255, 0, 0);
}

h1 {
    color: blue;
    font-family: Maiandra GD;
    font-size: 3rem;
    text-align: left;
}

img {
    margin-right: 3rem;
}

.about-text {
    text-align: left;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 33rem;
    margin-top: 3rem;
}


